.nem-mcw-container form label {
    margin: 1%;
    margin-right: 1%;
    width: 30%;
    display: inline-block;
    text-align: center;
    cursor: pointer;
}

.nem-mcw-container form label.on {
    background: #fe495a;
    color: #fff;
}

.nem-mcw-container form label input {
    display: none;
}

.nem-mcw-container form label input {
    display: none;
}

.nem-mcw-container .image-legend {
    z-index: 20;
    width: 17%;
    bottom: 0;
    right: 0;
    top: inherit;
}
