.nem-mcw-container {
    font-family: "Roboto", "Helevtica", "Arial", sans-serif;
}

.nem-mcw-container form label {
    box-sizing: border-box;
    width: 32.5%;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    line-height: normal;
    margin-right: 1%;
    padding: 10px;
    background: #efefef;
}

.nem-mcw-container form label:last-child {
    margin-right: 0%;
}

.nem-mcw-container form label.on {
    background: #fe495a;
    color: #fff;
}

.nem-mcw-container form label input {
    display: none;
}

.nem-mcw-container .twentytwenty-container {
    height: 100% !important;
}

.nem-mcw-container .twentytwenty-legend {
    z-index: 40;
    position: relative;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.nem-mcw-container .image-slider {
    position: relative;
    height: 100%;
}

.nem-mcw-container .image-slider img:first-child {
    position: relative;
}
